# Rust specific
target/
**/*.rs.bk

# Build artifacts
*.exe
*.out
*.so
*.dylib
*.dll

# Cargo specific
Cargo.lock
/.cargo/
**/*.crate

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
*.swn

# OS specific
.DS_Store
Thumbs.db
